[uwsgi]
procname-prefix-spaced=/{{ group_name }}/* emperor

emperor = {{ emperor_path | default(group_path) }}/*/uwsgi.ini
emperor = {{ emperor_path | default(group_path) }}/*/uwsgi?.ini
master = true
die-on-term = true
vacuum = true
touch-reload = %d/uwsgi.ini

vassals-include-before = %d/vassals-before.ini
vassals-include = %d/vassals-after.ini
